{% extends 'includes/base.html' %}

{% block content %}
<div class="container my-4">
    <h2>Все фильмы</h2>


    {% if movies %}
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if movie.poster_url %}
                    <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}"
                         onerror="this.src='https://via.placeholder.com/500x750?text=Image+Error'">
                    {% else %}
                    <img src="https://via.placeholder.com/500x750?text=No+Image" class="card-img-top"
                         alt="{{ movie.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description|truncatechars:100 }}</p>
                        <p>Рейтинг: {{ movie.rating }}/100</p>
                        <a href="{% url 'Movie_app:content_detail' movie.tmdb_id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Пагинация -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                    {% endif %}
                    <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>Фильмы не найдены.</p>
    {% endif %}
</div>
{% endblock %}