volumes:
  static:
  db-data:

services:
  db:
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
    volumes:
      - .:/app/MovieR
      - static:/app/static/
    environment:
      PGDB: "${POSTGRES_DB}"
      PGUSER: "${POSTGRES_USER}"
      PGPASSWORD: "${POSTGRES_PASSWORD}"
      SECRET_KEY: "${SECRET_KEY}"
    command:
      - bash
      - -c
      - |
        set -e  # Exit on any error
        echo "Starting migrations..."
        python manage.py migrate --settings=config.settings
        echo "Collecting static files..."
        python manage.py collectstatic --noinput --settings=config.settings
        echo "Starting Gunicorn..."
        exec gunicorn config.wsgi -b 0.0.0.0:8080 --workers 2 --timeout 120  

    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - static:/usr/share/nginx/html/static
      - ./nginx.conf:/etc/nginx/nginx.conf

    depends_on:
      - backend

