{% extends 'includes/base.html' %}

{% block title %}Добавить в избранное{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Добавить контент в избранное</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'recommendations:add_to_favorites' %}">
        {% csrf_token %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg>>Добавить в избранное</button>
    </form>
    <a href="{% url 'recommendations:get_favorites' %}" class="btn btn-secondary mt-3">Посмотреть избранное</a>
</div>
{% endblock %}
