{% extends 'includes/base.html' %}

{% block title %}Моё избранное{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Моё избранное</h1>
            </div>
    {% if favorites %}
        <div class="row">
            {% for content in favorites %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ content.title }}</h5>
                            <img src="{{ content.poster_url }}" alt="{{ content.title }}" class="img-fluid mb-3">
                            <a href="{% url 'Movie_app:content_detail' content.tmdb_id %}" class="btn btn-primary">Подробнее</a>
                            <form method="post" action="{% url 'recommendations:remove_from_favorites' content.tmdb_id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="content_id" value="{{ content.tmdb_id }}">
                                <button type="submit" class="btn btn-danger">Удалить из избранного</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>У вас нет избранного контента. <a href="{% url 'Movie_app:content_list' %}">Найти контент</a></p>
    {% endif %}
</div>
{% endblock %}